[submodule "libs/zig-clap"]
	path = libs/zig-clap
	url = https://github.com/mattnite/zig-clap.git
	branch = zig-master
[submodule "libs/zzz"]
	path = libs/zzz
	url = https://github.com/mattnite/zzz.git
[submodule "libs/zig-uri"]
	path = libs/zig-uri
	url = https://github.com/MasterQ32/zig-uri.git
[submodule "libs/version"]
	path = libs/version
	url = https://github.com/mattnite/version.git
[submodule "libs/tar"]
	path = libs/tar
	url = https://github.com/mattnite/tar.git
[submodule "libs/glob"]
	path = libs/glob
	url = https://github.com/mattnite/glob
[submodule "libs/known-folders"]
	path = libs/known-folders
	url = https://github.com/ziglibs/known-folders
[submodule "libs/zig-zlib"]
	path = libs/zig-zlib
	url = https://github.com/mattnite/zig-zlib.git
[submodule "libs/zig-mbedtls"]
	path = libs/zig-mbedtls
	url = https://github.com/mattnite/zig-mbedtls.git
[submodule "libs/zig-libssh2"]
	path = libs/zig-libssh2
	url = https://github.com/mattnite/zig-libssh2.git
[submodule "libs/zig-libgit2"]
	path = libs/zig-libgit2
	url = https://github.com/mattnite/zig-libgit2.git
[submodule "libs/zig-libcurl"]
	path = libs/zig-libcurl
	url = https://github.com/mattnite/zig-libcurl.git
