[submodule "libs/zig-clap"]
	path = libs/zig-clap
	url = https://github.com/Hejsil/zig-clap.git
	branch = zig-master
[submodule "libs/mecha"]
	path = libs/mecha
	url = https://github.com/Hejsil/mecha.git
[submodule "libs/zzz"]
	path = libs/zzz
	url = https://github.com/mattnite/zzz.git
[submodule "libs/hzzp"]
	path = libs/hzzp
	url = https://github.com/truemedian/hzzp.git
[submodule "libs/zfetch"]
	path = libs/zfetch
	url = https://github.com/truemedian/zfetch.git
[submodule "libs/zig-uri"]
	path = libs/zig-uri
	url = https://github.com/MasterQ32/zig-uri.git
[submodule "libs/zig-network"]
	path = libs/zig-network
	url = https://github.com/MasterQ32/zig-network.git
[submodule "libs/iguanaTLS"]
	path = libs/iguanaTLS
	url = https://github.com/marler8997/iguanaTLS.git
[submodule "libs/version"]
	path = libs/version
	url = https://github.com/mattnite/version.git
[submodule "libs/tar"]
	path = libs/tar
	url = https://github.com/mattnite/tar.git
[submodule "libs/glob"]
	path = libs/glob
	url = https://github.com/mattnite/glob
[submodule "libs/known-folders"]
	path = libs/known-folders
	url = https://github.com/ziglibs/known-folders
[submodule "libs/libgit2/c"]
	path = libs/libgit2/c
	url = https://github.com/libgit2/libgit2.git
[submodule "libs/mbedtls/c"]
	path = libs/mbedtls/c
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "libs/libssh2/c"]
	path = libs/libssh2/c
	url = https://github.com/libssh2/libssh2.git
[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/mattnite/zig-zlib.git
